.dashboard {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.request-panel {
  border-radius: 10px;
}
.stats {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  gap: 1rem;
  align-items: center;
  border-radius: 16px;
  border: 1px solid white;
}

#mostRequestedChart {
  border: 1px solid white;
  width: 100%;
  height: auto;
}
.stats button {
  border-style: none;
  background-color: #ffc107;
}
#readyforPickUps-div {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
  padding: 2rem;
  background-color: #103635;
  border-radius: 16px;
  gap: 1rem;
}
#firstPanel {
  height: 45%;
  gap: 1rem;
  display: flex;
}
#chart-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 55%;
  background-color: #1976d2;
  border-radius: 16px;
}
button {
  border-style: none;
  background-color: #ffc107;
  padding: 0.5rem 1rem;
}
#secondPanel {
  display: flex;
  gap: 1rem;
  height: 50%;
  box-sizing: border-box;
}
#secondPanel-firstDiv {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 55%;
}
.seedlings {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  background-color: #103635;
  align-items: center;
  justify-content: space-between;
}
.seedlings-container {
  display: flex;
  flex-direction: column;
  background-color: #103635;
  padding: 1rem;
  border-radius: 16px;
  align-items: center;
  justify-content: space-between;
}
.manageData {
  display: flex;
  gap: 1rem;
}

.button-container {
  background-color: #103635;
  border-radius: 16px;
  display: flex;
  padding: 3rem 2rem;
  gap: 1rem;
  align-items: center;
}

.button-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inventory-container {
  border-radius: 16px;
  background-color: #103635;
  width: 50%;
  display: flex;
  padding: 2rem;

  flex-direction: column;
  gap: 1rem;
}
.inventory-container-container {
  display: flex;
  border: 1px solid white;
  padding: 1rem;
  justify-content: left;

  align-items: center;
  gap: 1rem;
}
.inventory-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: none; */
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  /* display: none; */
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
#documents-container {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
