.content div {
  padding: 1rem;
}

.content {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100vh;
}
#grid-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  gap: 20px;
}
.card {
  background-color: #103635;
  border-radius: 16px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.card div {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
}
.card p {
  font-size: 14px;
  margin-bottom: 20px;
}
.card image {
  height: 75px;
  width: 75px;
}
.card button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #008c9e;
}
