/* General Container Styles */

#content1 {
  display: flex;
  height: 100%;
  color: white;
}
#dashboard-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  width: 60%;
}

#dashboard-right {
  padding: 0.5rem;
  width: 40%;
}

.request-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
  background-color: #103635;
  padding: 1rem;
  border-radius: 12px;
}
#seedling-requests-count {
  display: flex;
  justify-content: space-around;
}
.seedling-request {
  text-align: center;
}

#second-area {
  display: grid;
  grid-template-columns: 50% auto;
  height: 60%;
  gap: 1rem;
}

#calculator {
  display: flex;
  flex-direction: column;
  background-color: #103635;
  padding: 1rem;
  gap: 1rem;
  border-radius: 12px;
}

#calculator select,
input {
  padding: 1rem;
  width: 100%;
}

.third-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.view-request {
  background-color: #103635;
  height: auto;
  display: flex;
  padding: 2rem 1rem;
  border-radius: 12px;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}
.view-request div {
  background-color: #103635;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-request button {
  padding: 1rem;
  width: 100%;
}
#view-sent-requests {
  background-color: #b57cff;
  border-style: none;
}
#send-new-requests {
  background-color: #a7ffb5;
  border-style: none;
}

#dashboard-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#chart-container {
  padding: 1rem;
  background-color: #103635;
  border-radius: 12px;
}

.notifications {
  display: flex;
  border-radius: 12px;
  background-color: #103635;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  height: 50%;
  overflow-y: auto;
}
/* Container for notification */
#notifications-container {
  overflow-y: auto;
}
.notif-container {
  padding: 1rem;
  align-items: center;
  display: flex;
  gap: 1rem;
}
.notif-container button {
  padding: 1rem;
  width: 100%;
  color: white;
  background-color: red !important;
  border-style: none;
}
.notification-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 16px;
  gap: 1rem;
  background-color: #103635;
}
.notification {
  border: 1px solid white;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 16px;
  align-items: center;
}
.notification div {
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notification button {
  border-style: none;
  border-radius: 16px;
  padding: 0.5rem;
  color: white;
  background-color: #cf4747 !important;
}
